body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../images/bgg.jpg);
    background-size: cover;
    background-position: center;
}

.login-container {
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: auto;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 305px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 8px;
    margin-top: 5px;
}

.radio-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #00ff91;
    color: #000000;
}

/* Add styles for the "Have account login" text */
p {
    margin-top: 20px;
    font-size: 14px;
}

a {
    text-decoration: underline;
    font-weight: bold;
    color: #4654fe; /* Use the same color as the button for consistency */
}

a:hover {
    color: #29dcfc; /* Change color on hover for visual feedback */
}
