@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700");

:root {
  --gradient: linear-gradient(135deg, rgba(91, 36, 122, 0.45) 0%, rgba(27, 206, 223, 0.55) 100%);
  --shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  --primary: #4183d7;
  --secondary: #66cc99;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  background: linear-gradient(#e6e6e6, #bbbbbb);

  font-family: "Raleway", sans-serif;
}

.navbar-brand {
    margin: 10px 20px;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
  }
  
  .navbar-brand span {
    font-size: 28px;
    font-weight: bold;
    color: #000000;
  }

#main {
  position: relative;
  width: 550px;
  height: 330px;
  left: 30px;
  border-radius: 10px;
  box-shadow: var(--shadow);
  background-color: white;
}

#left {
  position: relative;
  background-image: url(../images/payment.png);
  background-size: cover;
  background-position: center;
  height: calc(100% + 50px);
  width: 40%;
  top: -35px;
  left: -50px;
  padding: 10px 25px;
  box-shadow: var(--shadow);
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

#left #head {
  opacity: 0.95;
}

#right {
  position: absolute;
  width: calc(60% - 40px);
  height: 100%;
  top: 0;
  left: 40%;
  display: flex;
  flex-flow: column nowrap;
  padding-left: 20px;
}

#right form {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

#right form input,
#right form select {
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  border: none;
  border-bottom: 1.5px solid #ccc;
  padding: 5px;
  margin-top: 2.5px;
  position: relative;
}

#right form .form-field {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-bottom: 12.5px;
}

#right form #date-val {
  display: flex;
  justify-content: space-between;
}

#right form #date-val select {
  width: 45%;
}

#right form button[type="submit"] {
  background-color: #000000;
  padding: 5px;
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: 400;
  font-size: 12pt;
  margin-top: 10px;
}

#right form button[type="submit"]:hover {
  background-color: #00ff91;
  color: rgb(0, 0, 0);
}


.footer_section {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #000000;
  }
  
  .footer_section p {
    color: #ffffff;
    padding: 10px 0; /* Adjust the padding as needed */
    margin: 0;
  }